.section1{
	background-color: $colorAzul;
	height:700px;
}

.article__img{
	@include imgRedonda;
	border-radius: 210px;
	width:400px;
	height:400px;
	display:flex;
	flex-direction: row;
	justify-content:flex-end;
	&:nth-child(1){
		margin-left: auto; //me quita el margin cero posicionando elemento.
		position: relative;
		top: 80px;
	}

}

.article__title{
	font-family: 'sans-serif';
	font-size:50px;
	color:$colorVerde;
	position:relative;
	top:100px;
}

.article__title__subtitle{
	margin-top: 100px;
	color: $colorBlanco;
	font-family: $disenoLetra;

}

.article__docs{
	margin-top: 50px;
	color: $colorBlanco;
	line-height: 5rem;
	font-size: 2rem;
	font-family:$disenoLetra;
}

.article_btn{
	border-radius: 100px;
	width: 270px;
	height: 93px;
	background-color: $colorVerde;
	font-size: 3rem;
	color: $colorBlanco;
	font-family: $disenoLetra;
	&:hover{
		color: rgba(0,0,0,0.8);
	}
}
//redes sociales


@mixin font-smoothing() {
    // Font antialising on Mac OS X
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social-icons {
    list-style: none;
    margin-top: 50px;
    padding: 0;
    display:flex;
    flex-direction:row;
    justify-content:center;

    li {
        display: inline-block;
        margin: 0 0.25em;
    }

    span {
        display: block;
        width: 0; height: 0;
        overflow: hidden;
    }

    a {
        display: inline-block;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        text-decoration: none;
        color: white;
        text-align: center;

        &:before {
            font: 1.5em/1.75 "FontAwesome";
            @include font-smoothing();
        }

        $icons: (
            twitter:  (char: "\f099", color: #55acee),
            google:   (char: "\f0d5", color: #dd4b39),
            facebook: (char: "\f09a", color: #3b5998),
            github:   (char: "\f09b", color: #231f20),
            linkedin: (char: "\f0e1", color: #0977b5),
            dribbble: (char: "\f17d", color: #ea4c89),
            rss:      (char: "\f09e", color: #ff6600)
        );

        @each $social, $icon in $icons {
            &[href*="#{$social}"] {
                background-color: map-get($icon, color);

                &:before {
                    content: map-get($icon, char);
                }
            }
        }
    }
}