*,
*,:before
*,:after{
	box-sizing:border-box;
	
}

.m-menu{
	background-color: $colorRosado;
	height:70px;

}

.m-menu__item{
	margin-top:0;
	margin-bottom:0;
	list-style:none;
	text-decoration:none;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.m-menu__item__link{
	color: $colorBlanco;
	font-weight: bold;
	text-decoration:none;
	display:block;
	text-align:center;
	padding: 3rem;
	  
}

.btn-primary {
		background-color: $colorAzul;
		border-radius: 10px solid $colorAzul;
		height: 38px;
		position:relative;
		top:20px;
		

	}	


.m-menu__img{
	
	border: 2px solid #fff;
	flex-direction: row;
	justify-content:flex-end;
	width:65px;
	height:65px;
	}





