*,
*,:before
*,:after{
	box-sizing:border-box;
	
}

.m-menu{
	background-color: $colorRosado;

}

.m-menu__item{
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
	list-style:none;
	text-decoration:none;
	display:flex;
	flex:auto;
}

.m-menu__item__link{
	color: $colorBlanco;
	font-weight: bold;
	text-decoration:none;
	display:block;
	text-align:center;
	padding: 5rem;
	  
}

.profile {
		background-color: $colorAzul;
		border-radius: 10px solid $colorAzul;
		width:192px;
		height:28px;
		&:nth-child(1){
		margin-left: auto;
		position: relative;
		top: 10px;
}

}


.m-menu__img{
	@include imgRedonda;
	border: 2px solid #fff;
	flex-direction: row;
	justify-content:flex-end;
	&:nth-child(1){
		margin-left: auto;
		position: relative;
		top: 10px;
	}

}



